<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl">Nyers táblák</h1>
                <br>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/cikkek'">
                    Cikkek
                </button>
                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/felhasznalok'">
                    Felhasználók
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/kulcsszavak'">
                    Kulcsszavak
                </button>
                <button class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/lektorok'">
                    Lektorok
                </button>
                <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/nyelvek'">
                    Nyelvek
                </button>
                <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/hibajelentesek'">
                    Hibajelentések
                </button>
            </div>
        </div>
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl">Lektorműveletek</h1>
                <br>
                <button class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/lektoradd'">
                    Lektor hozzárendelése cikkhez
                </button>
            </div>
        </div>
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="flex justify-center items-center text-2xl pb-4">Felhasználók cikk nélkül</h1>
                <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4">
                    <% felhasznalokCikkekNelkul.forEach(element => { %>
                        <p class="text-center justify-center"><%= element.NEV %></p>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="flex justify-center items-center p-6">
            <div class="bg-gray-200 p-4 rounded-lg">
                <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded" onclick="location.href='/admin/reset'">
                    Adatbázis visszaállítása
                </button>
            </div>
        </div>
</body>

</html>