<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>

<body class="bg-indigo-500">
    <%- include('header') %>
    <div class="flex justify-center p-5 mx-auto my-0 w-4/5 rounded">
        <table class="table-auto">
            <thead>
                <tr>
                    <% Object.keys(data[0]).forEach(key => { %>
                        <th class="px-4 py-2 border bg-slate-600 text-white"><%= key %></th>
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(item => { %>
                    <tr>
                        <% Object.values(item).forEach(value => { %>
                            <td class="border px-4 py-2 bg-white"><%= value %></td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>