<header class="bg-green-600">
    <nav class="text-2xl">
        <ul class="list-none">
            <li class="inline-block bg-cyan-500 hover:bg-cyan-600"><a href="/">Főoldal</a></li>
            <li class="inline-block bg-cyan-500 hover:bg-cyan-600"><a href="/login">Bejelentkezés</a></li>
        </ul>
    </nav>
</header>