<!DOCTYPE html>
<html lang ="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>
<body class="bg-indigo-500">
    <%- include('header') %>
    <h1><%= title %></h1>
    <p class="text-2xl inset-96 p-7 first-letter:text-blue-800">Működik :DDD</p>
    <% if (adat) { %>
        <% adat.forEach(element => { %>
            <p><%= element.NEV %></p>
        <%});%>
        
    <% } %>
</body>
</html>