<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title><%= title %></title>
</head>
<body class="bg-indigo-500">
    <%- include('header') %>
    <div class="flex items-center justify-center pt-10">
        <div class="w-full max-w-xs mx-auto">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <form method="post">
                    <% if(typeof edit == 'undefined'){%>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                            Felhasználónév:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" name="username" type="text" required>
                    </div>    
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                            Jelszó:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password" name="password" type="password" required>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="password2">
                            Jelszó újra:
                        </label>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="password2" name="password2" type="password" required>
                    </div>
                    <% } else { %>
                    <div class="mb-4">
                        <p class="block text-gray-700 text-sm font-bold mb-2" for="username">Felhasználónév: <%= user.NEV%></p>
                        
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="lektor"> lektor:
                            <input type="checkbox" id="lektor" name="lektor" <% if(user.LEKTORAZON != null){%> checked  <%}%>>
                        </label>
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="admin"> admin:
                            <input type="checkbox" id="admin" name="admin" <% if(user.ADMIN == 1){%> checked <%}%>>
                        </label>
                    </div>
                    
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="fokozat">
                            Fokozat:
                            <select id="fokozat" name="fokozat">
                                <option value="Bsc">Bsc</option>
                                <option value="Msc">Msc</option>
                                <option value="Phd">Phd</option>
                            </select>
                        </label>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="intezmeny">
                            Intézmény:
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="intezmeny" name="intezmeny" type="text">
                        </label>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="szakterulet">
                            Szakterület:
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="szakterulet" name="szakterulet" type="text">
                        </label>
                    </div>
                    
                    <% } %>
                    <div class="flex items-center justify-between">
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            <% if(typeof edit == 'undefined'){%>
                                Regisztráció
                            <%} else {%>
                                Módosítás
                            <%}%>
                        </button>
                    </div>
                </form>
                <% if(typeof error !== 'undefined'){%>
                    <p class="text-red-500 text-sm italic"><%= error %></p>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>
